.project {
    display: flex;
    flex-flow: column;

    background-color: var(--items-color);
    padding: 2em;
    border-radius: 20px;

    position: relative;
}

.project--data {
    display: flex;
    flex-flow: column;
    gap: 2em;
    align-items: center;
}

.project--icons {
    width: 8em;
}

.project--chart {
    width: 5em;
}

.project-card__trash {
    position: absolute;
    top: 2em;
    right: 2em;
}


.progress-container {
    width: 100%;
    position: relative;
    min-height: 50px;

    background-color: var(--main-color);
    border: 2px solid var(--pink);
    border-radius: 20px;

    overflow: hidden;
    margin: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
}

.progress-bar {
    background-color: var(--pink);
    transition: all 3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-label {
    width: 100%;
    height: 100%;

    text-align: center;
    font-size: var(--main-font-size);
    font-weight: var(--main-weight);
    color: var(--text-color);
}