.project {
    display: flex;
    flex-flow: column;

    background-color: var(--items-color);
    padding: 2em;
    border-radius: 20px;

    position: relative;
}

.project--data {
    display: flex;
    flex-flow: column;
    gap: 2em;
    align-items: center;
}

.project--icons {
    width: 8em;
}

.project--chart {
    width: 5em;
}

.project-card__trash {
    position: absolute;
    top: 2em;
    right: 2em;
}