.project {
    display: flex;
    flex-flow: column;

    background-color: var(--items-color);
    padding: 2em;
    border-radius: 20px;
}

.project--data {
    display: flex;
    flex-flow: row;
    gap: 1em;
    align-items: center;
}

.project--icons {
    width: 8em;
}

.project--chart {
    width: 5em;
}