.login {
    background-color: var(--items-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    padding: 3rem 2.5rem;

    border-radius: 20px;

    width: fit-content;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-title {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.login h2 {
    font-size: 5rem;
    font-family: var(--main-font);
    font-weight: 700;
}

.icons-card {
    max-height: inherit;
    object-fit: contain;
    width: 10em;
}

.login-form {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    text-align: left;
}

.login-form label {
    font-family: var(--main-font);
    font-size: var(--main-size);
    font-weight: var(--main-weight);
    width: 100%;
}

.login-form input {
    border: none;
    border-radius: 40px;
    margin: .5em 0;
    padding: .5em;
    font-size: 1.5rem;

    transition: all .3s ease;
}

.login-form input:hover {
    border-radius: 20px;
}

.login-button {
    background-color: var(--text-color);
    color: var(--items-color);
    cursor: pointer;

    padding: .5em 2em;
    margin-top: 2em;

    border-radius: 40px;
    font-weight: 600;

    width: fit-content;

    transition: all .3s ease;
}

.login-button:hover {
    border-radius: 10px;
}