.projects-list {
    display: flex;
    flex-flow: column;
    gap: 2em;
}

.create-project-button {
    width: fit-content;

    background-color: var(--text-color);
    color: var(--main-color);
    cursor: pointer;
}

.projects-list--projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap: 2em;
}





@media (max-width: 768px) {
    .projects-list {
        align-items: center;
    }
}