.projects-list {
    display: flex;
    flex-flow: column;
    gap: 2em;
}

.create-project-button {
    width: fit-content;

    background-color: var(--text-color);
    color: var(--main-color);
    cursor: pointer;
}

.projects-list--projects {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 2em;
}

