.request-info {
    background-color: var(--items-color);
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.request-detail__title {
    margin-bottom: 2em;
}