.user-card {
    background-color: var(--items-color);
    padding: 2em;
    border-radius: 20px;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;

    text-align: center;

    min-height: 250px;

    cursor: pointer;
}

.user-card__name {
    font-size: 2rem;
    font-weight: 600;
}