.task-card {
    background-color: var(--items-color);
    padding: 2em;
    border-radius: 20px;
    cursor: pointer;

    width: fit-content;
}

.task-card__link a {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.task-id {
    font-size: .8rem;
}

.task-card__trash {
    cursor: pointer;
    justify-self: end;
}

.delete-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete-confirmation__content {
    background-color: var(--items-color);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}

.delete-confirmation__buttons {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.button-cancel {
    background-color: var(--main-color);
    color: var(--text-color);
}

.button-delete {
    background-color: var(--text-color);
    color: var(--main-color);
}
