.top-nav,
.aside-nav {
    background-color: var(--text-color);
    color: var(--main-color);
    padding: 1em;
}

.top-nav {
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.top-nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.top-nav--logo {
    width: 300px;
}

.profile-icon {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: .5em;

    padding: .5em 1em;
    margin-right: 2em;

    font-size: 1.2rem;
    font-weight: 600;

    border: 2px solid var(--main-color);
    border-radius: 40px;

    transition: all .3s ease;
}

.profile-icon:hover {
    border-radius: 10px;
}

.aside-nav {
    width: 10em;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.aside-nav ul {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1em;

    width: fit-content;
    height: 100%;
}

.aside-navbar--button {
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none;
    display: flex;

    width: 100%;

    justify-content: flex-start;
    align-items: center;

    border-radius: 40px;

    transition: all .3s ease;
}

.aside-navbar--button:hover {
    border-radius: 10px;
}

.notifications-button {
    border: 2px solid var(--pink);
}

.projects-button {
    border: 2px solid var(--blue);
}

.users-button {
    border: 2px solid var(--dark-green);
}

.instructions-button {
    border: 2px solid var(--orange);
}



/* ASIDE NAVBAR RESPONSIVE */
@media (max-width: 768px) {
    .top-nav {
        z-index: 3;
    }
    .aside-nav {
        position: fixed;
        top: 0;
        left: -10em;
        width: 10em;
        transition: all 0.3s ease;
        z-index: 2;
    }

    /* When open */
    .aside-nav.open {
        left: 0;
    }

    /* Burger toggle */
    .burger-toggle {
        position: absolute;
        top: 3.6em;
        right: -2.5em;
        width: 2.5em;
        height: 2.5em;

        background-color: var(--text-color);
        color: var(--main-color);
        border-radius: 0 10px 10px 0;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 100;
        cursor: pointer;
    }
}