.button-create-task {
    color: black;
    border: 1px solid black;
    background-color: var(--items-color);
}
.button-delete-task {
    color: black;
    border: 1px solid black;
    background-color: var(--items-color);
}

.button-feedback {
    color: black;
    border: 1px solid red;
    background-color: var(--items-color);
}